
body {
    background-color: lightgray;
    font-size: 1.2rem;
}

.content {
    max-width: 50rem;
    margin-left: auto;
    margin-right: auto;
}

.content header {
    padding: 0 0 1em 0;
    margin: 0 0 1em 0;
    
    display: flex;
    justify-content: space-between;
}

.content header h1 {
    margin: 0;
}

.content header nav {
    font-size: 1.2rem;
    margin-top: auto;
    height: fit-content;
    display: flex;
    gap: 1em;
}

.content header a {
    color: black;
    text-decoration: none !important;
}

.content header a .nav-link {
    text-align: center;
    cursor: pointer;
    border-bottom: .05em solid;
}

.content .curriculum {
    border-top: 10px black;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 1em;
    margin-bottom: 1em;
}

.content .card {
    background-color: rgb(234, 234, 234);
    box-shadow: 0 -.3em 1em 0 rgba(0, 0, 0, .2);
    padding: 1em;

    display: flex;
    justify-content: left;
}
.content .card:nth-child(even) {
    background: rgb(214, 220, 207);
}

.content .card .card-title {
    font-size: 1.6rem;
    margin-right: 1em;
    flex-basis: 5em;
    margin: auto 0 auto 0;
}

.content .card .card-content {
    font-size: 1.2rem;
    margin: auto 0 auto 0;
}

.content .socrative-list {
    list-style-type: none;
    font-family: 'Courier New', Courier, monospace;
}

.content .socrative-list li {
    margin-bottom: .1em;
}
